body {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    background-color: #0E0e0e;
}

button {
    border: none;
}

a {
    text-decoration: none;
    color: #fff;
}

.container {
    margin: 0 auto;
}